<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.ProductName)"
           Manufacturer="$(var.Manufacturer)"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Scope="perMachine"
           Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <ui:WixUI Id="WixUI_InstallDir" />
    </UI>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="Evotec">
        <Directory Id="INSTALLFOLDER" Name="IntelligenceX Chat" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="HostFileComponent" Guid="*">
        <File Id="HostExeFile" Source="$(var.PayloadDir)\IntelligenceX.Chat.Host.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="HostFileComponent" />
      <ComponentGroupRef Id="ProductFiles" />
    </ComponentGroup>
  </Fragment>
</Wix>
